<header {% if page.feature %}style="background-image:url({{ page.feature }});"{% elsif site.backgroundImage %}style="background-image:url({{ site.backgroundImage }}"){% endif %}>
  {% if page.feature %}
  <div style="padding:20px 0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5)">
  {% endif %}
  <blog-name>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</blog-name>
  {% if site.description %}
    <blog-desc>{{ site.description }}</blog-desc>
  {% endif %}
  <blog-navbar>
    {% for link in site.data.links %}
      <a href="{{ link.url }}">{{ link.name }}</a>
    {% endfor %}
  </blog-navbar>
  {% if page.feature %}
  </div>
  {% endif %}
</header>